.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  .logo-container {
    a {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: white;

      .app-title {
        font-size: 1.2rem;
      }
    }
  }

  .actions-container {
    display: flex;
    align-items: center;
  }
}
