<h2 mat-dialog-title>{{ 'HELP.TITLE' | translate }}</h2>
<mat-dialog-content>
  <h3>{{ 'HELP.HOW_TO_USE' | translate }}</h3>
  <p>{{ 'HELP.CREATE_LIST_DESC' | translate }}</p>
  <p>{{ 'HELP.SHARE_LIST_DESC' | translate }}</p>
  <p>{{ 'HELP.EDIT_LIST_DESC' | translate }}</p>

  <h3>{{ 'HELP.TIPS' | translate }}</h3>
  <p>{{ 'HELP.SECURITY_TIP' | translate }}</p>
  <p>{{ 'HELP.PREVIEW_TIP' | translate }}</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button color="primary" mat-button mat-dialog-close>{{ 'COMMON.CLOSE' | translate }}</button>
</mat-dialog-actions>
