<h2 mat-dialog-title>{{ 'SHARE.TITLE' | translate }}</h2>
<mat-dialog-content>
  <div class="d-flex align-items-center gap-2 mb-1">
    <span class="text-truncate d-inline-block" style="max-width: 100%;">{{ this.data.shareUrl }}</span>

    <button mat-icon-button (click)="copyLink()" color="primary">
      <mat-icon>content_copy</mat-icon>
    </button>
  </div>
  <p class="mb-5 text-muted small" [innerHTML]="'SHARE.SHARE_LINK_HINT' | translate"></p>

  <div>
    <p>{{ 'SHARE.DOWNLOAD_QRCODE' | translate }}</p>
    <div class="mb-3">QRCODE</div>

    <button mat-raised-button (click)="downloadQRCode()" color="primary">
      <mat-icon>download</mat-icon>
      {{ 'COMMON.DOWNLOAD' | translate }}
    </button>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>{{ 'COMMON.CLOSE' | translate }}</button>
</mat-dialog-actions>
